---
layout: normal
title: About
color: "#ff5b00"
bg_url: "/assets/images/shapes/Form1_orange_transparent.svg"
bg_position: "80vw 10vh"
---
<header class="content-header">
	<h1>{{ page.title }}</h1>
</header>

{% for section in site.about %}
<section class="section">
	<div class="section-text">
		<h4 class="accent-tc">{{ section.title }}</h4>
		{{ section.content | markdownify }}
	</div>

	<figure class="section-image">
		<img src="{{ section.image }}" alt="{{ section.title }} Image">
		{% if section.image_caption %}
			<figcaption>{{ section.image_caption }}</figcaption>
		{% endif %}
	</figure> 
</section>
{% endfor %}