---
layout: normal
title: Schedule
color: "#ff5b00"
bg_url: "/assets/images/shapes/Form3_orange_transparent.svg"
bg_position: "-20vw 10vh"
---
<header class="content-siteheader">
	<h1>{{ page.title }}</h1>
</header>

<div class="framedlists">

	<div class="framedlist">
		<header class="list-header"><b>Saturday</b>, May 11th</header>
		<ol>
		{% for item in site.data.saturday %}
			<li>
				<b>{{ item.time }}</b>
				<br>
				<span>{{ item.name }}</span>
			</li>
		{% endfor %}
		</ol>
	</div>

	<div class="framedlist">
		<header class="list-header"><b>Sunday</b>, May 12th</header>
		<ol>
		{% for item in site.data.sunday %}
			<li>
				<b>{{ item.time }}</b>
				<br>
				<span>{{ item.name }}</span>
			</li>
		{% endfor %}
		</ol>
	</div>

</div>

<div>
	<p><b>*</b> Alexander is a Business Unit Manager at TWT GmbH Science & Innovation. In his talk, he will present real life machine learning use cases and the paradigmatic shift behind their solutions: The classical stack of Software 1.0 is substituted by machine learning and manual feature engineering is obviated with deep learning. Also, Alexander will give a live demonstration of an artificial neural network that is developed in an interactive notebook and deployed as a Web service in a serverless cloud computing environment.</p>
</div>

<!--
<div class="content-footer">
	<p><strong>The Schedule is not yet complete.</p>
	<p><strong>Stay tuned for <mark class="accent-tc">more</mark>!</strong></p>
</div>
-->
